<!DOCTYPE html>
<html>
<head>
	<title>MTAStat.us</title>
	<meta name="viewport"> 

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<center>
		<div class="header">
			<h1>MTA STATUS</h1>
			<h2>Subway, at a glance.</h2>
		</div>
		<div class="spacer"></div>
		<div class="container">
			<% @final_hash.each do |train,status| %>
				<div class="trainname">
					<div class="letter" id="<%= train.downcase %>"><%= train %></div>
					<div class="smallstatus"><%= status %></div>
				</div>
			<% end %>
		</div>
	</center>
	<div class="bg"></div>
	<div class="screen"></div>
</body>
</html>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="script.js"></script>