html, body{
	margin: 0px;
	padding: 0px;
	font-family:"Helvetica Neue", "Arial";
	color: white;
}

.screen{/*SCREEN MASK FOR BG*/
	height:100%;
	width: 100%;
	top: 0;
	background-color: #222;
	opacity: .7;
	position: fixed;
	z-index: -1;
}
.bg{/*BACKGROUND IMAGE*/
	height:100%;
	width: 100%;
	background-color: #222;
	background: url("nyc.jpg");
	background-size: cover;
	background-position: center;
	z-index: -1;
	top: 0;
	position: fixed;
  text-align: center;
}








/*TRAIN STUFF*/
/*TRAIN STUFF*/
/*TRAIN STUFF*/
.container{
	width: 90%;
	max-width: 900px;
	padding-left: auto;
	padding-right: auto;
}
.trainname{/*CIRCLES*/
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 55px;
}
.letter{/*LETTER IN THE CIRCLE*/
	width: 60px;
	font-size: 40px;
	position: absolute;
	background-color: transparent;
	padding-top: 5px;
	font-weight: bold;
}
.smallstatus{/*STATUS FOR EACH CIRCLE*/
	position: absolute;
	font-size: 14px;
	color: #fff;
	height: 20px;
	padding-top: 65px;
	width: 80px;
	margin-left: -10px;
	text-align: center;
}








.header{/*HEADER CONTAINER*/
	text-align: center;
	width: 100%;
	height:auto;
	margin-top: 10px;
	margin-bottom: 10px;

	padding: 0;
}
.header h1{/*PAGE TITLE*/
	font-size: 14vw;
	line-height: 0px;
	font-weight: lighter;
}
.header h2{/*SUBTITLE*/
	font-size: 7.5vw;
	line-height: 30px;
	font-weight: lighter;
}


/*for desktop*/
@media (min-width: 800px) {
  .header h1{font-size: 90px}
  .header h2{font-size: 30px;}
}




